CLIENT_GATEWAY_PORT=3000
PRODUCTS_APP_PORT=3001
ORDERS_APP_PORT=3002
PAYMENTS_APP_PORT=3003

NATS_SERVERS=nats://nats-server:4222

DB_USERNAME=postgres
DB_PASSWORD=dummy
DB_NAME=ordersdb
DB_PORT=5432

STRIPE_SECRET_KEY=abc_123_dummy
STRIPE_ENDPOINT_SECRET=abc_123_dummy
STRIPE_SUCCESS_URL=http://localhost:3000/success
STRIPE_CANCEL_URL=http://localhost:3000/cancel

USER_MONGO_DB=db_user_dummy
PASSWORD_MONGO_DB=dummy
DATABASE_MONGO_URL=mongodb+srv://db_user_dummy:dummy@auth-ms-db.abcdefg.mongodb.net/

JWT_SECRET=dummySecret

ORDERS_DATABASE_URL=postgresql://dummy:dummy@orders-db:5432/dummy?schema=public